<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>订单处理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name=""/>

    <link rel="stylesheet" href="tasp.css" th:href="@{/css/tasp.css}"/>
    <link href="orderconfirm.css" rel="stylesheet" th:href="@{/css/orderconfirm.css}"/>
    <link rel="stylesheet" th:href="@{/css/mall_normal.css}">
    <link th:href="@{/css/all.css}" rel="stylesheet">
    <link th:href="@{/css/mall.css}" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <style>
        #page {
            width: auto;
        }

        #comm-header-inner, #content {
            width: 950px;
            margin: auto;
        }

        #logo {
            padding-top: 26px;
            padding-bottom: 12px;
        }

        #header .wrap-box {
            margin-top: -67px;
        }

        #logo .logo {
            position: relative;
            overflow: hidden;
            display: inline-block;
            width: 140px;
            height: 35px;
            font-size: 35px;
            line-height: 35px;
            color: #f40;
        }

        #logo .logo .i {
            position: absolute;
            width: 140px;
            height: 35px;
            top: 0;
            left: 0;
            background: url(http://a.tbcdn.cn/tbsp/img/header/logo.png);
        }
    </style>

</head>
<body data-spm="1">

<div class="bbb">
    <div style="width: 55%;height:100%;margin-left: 21%">
			<span style="">
                <a href="" th:href="@{/user_index}" class="ttt">
					<i class="fas fa-user" style="margin-right: 3px" th:text="${session.username}"></i>
				</a>
			</span>
        <span style="float: right;">
				<a href="" th:href="@{/show_cart}" class="ttt" style="">
					<i class="fas fa-shopping-cart" style="margin-right: 3px"></i>
					购物车
				</a>
			</span>
    </div>
</div>
<div class="hea" style="margin-bottom: 3%;">
    <div style="width: 65%;height:100%;margin-left: 10%">
        <img th:src="@{/pic/logo.png}" style="margin-left: 17%;padding-top: 0px" alt="">
        <span><a href="" th:href="@{/showGood_index}" class="la">首页</a></span>
    </div>
</div>

<div id="page" style="margin-bottom: 2%;">

    <div id="content" class="grid-c">

        <div id="address" class="address" style="margin-top: 20px;" data-spm="2">
            <form name="addrForm" method="post" id="addrForm" action="/carts_to_order">
                <h3>确认收货地址

                </h3>
                <ul id="address-list" class="address-list">
                    <li class="J_Addr J_MakePoint clearfix  J_DefaultAddr "
                        data-point-url="http://log.mmstat.com/buy.1.20" th:each="addr : ${addrs}">
                        <s class="J_Marker marker"></s>
                        <span class="marker-tip">寄送至</span>
                        <div class="address-info">
                            <input name="log_id"
                                   type="radio"
                                   th:value="${addr.address_id}"
                                   checked="checked">
                            <label for="addrId_674944241" class="user-address" th:text="${addr.address} + ' ' + ${addr.address_detail} + ' ' + ${addr.addresssee} + ' '+
                                            ${addr.telephone} + ' ' + ${addr.postcode}">
                                湖北省 恩施土家族苗族自治州 恩施市 湖北民族学院（信息工程学院） 男生宿舍楼235栋2323102 (某某 收) <em>18427717260</em>
                            </label>
                        </div>
                    </li>
                </ul>
                <ul id="J_MoreAddress" class="address-list hidden">
                </ul>
        </div>
        <div th:each="order : ${orders}">
            <h3 class="dib">确认订单信息</h3>
            <table cellspacing="0" cellpadding="0" class="order-table" id="J_OrderTable" summary="统一下单订单信息区域">
                <caption style="display: none">统一下单订单信息区域</caption>
                <thead>
                <tr>
                    <th class="s-title">店铺宝贝
                        <hr/>
                    </th>
                    <th class="s-price">单价(元)
                        <hr/>
                    </th>
                    <th class="s-amount">数量
                        <hr/>
                    </th>
                    <th class="s-agio">优惠方式(元)
                        <hr/>
                    </th>
                    <th class="s-total">小计(元)
                        <hr/>
                    </th>
                </tr>
                </thead>

                <tbody data-spm="3" class="J_Shop" data-tbcbid="0" data-outorderid="47285539868" data-isb2c="false"
                       data-postMode="2" data-sellerid="1704508670">
                <tr class="first">
                    <td colspan="5"></td>
                </tr>
                <tr class="shop blue-line">
                    <td colspan="3">
                        店铺：<a class="J_ShopName J_MakePoint" data-point-url="http://log.mmstat.com/buy.1.6"
                              href="http://store.taobao.com/shop/view_shop.htm?shop_id=104337282"
                              target="_blank" title="淘米魅" th:text="${order.store_name}">淘米魅</a>
                        <span class="seller">卖家：<a
                                href="http://member1.taobao.com/member/user_profile.jhtml?user_id=ac5831c32f47bc9267fcb75b71b5eed6"
                                target="_blank" class="J_MakePoint" data-point-url="http://log.mmstat.com/buy.1.15"></a></span>
                        <span class="J_WangWang" th:text="${order.store_name}" data-nick="淘米魅"
                              data-display="inline"></span>
                    </td>
                    <td colspan="2" class="promo">
                        <div>
                            <ul class="scrolling-promo-hint J_ScrollingPromoHint">
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr th:each="item : ${order.order_item_infoList}" class="item"
                    data-lineid="19614514619:31175333266:35612993875" data-pointRate="0">
                    <td class="s-title">
                        <img th:src="'/pic/'+${item.goods_photo_path}"
                             src="http://img03.taobaocdn.com/bao/uploaded/i3/18670026332876589/T1A4icFbNeXXXXXXXX_!!0-item_pic.jpg_60x60.jpg"
                             class="itempic"><span class="title J_MakePoint"
                                                   data-point-url="http://log.mmstat.com/buy.1.5"
                                                   th:text="${item.goods_name}">Huawei/华为 G520新款双卡双待安卓系统智能手机4.5寸四核手手机</span></a>

                        <div class="props">
                        </div>
                        <img src="http://img03.taobaocdn.com/tps/i3/T1bnR4XEBhXXcQVo..-14-16.png"/>
                        </a>
                        <div>
                            <span style="color:gray;">卖家承诺72小时内发货</span>
                        </div>
                    </td>
                    <td class="s-price">

  <span class='price '>
 <em class="style-normal-small-black J_ItemPrice" th:text="'￥'+${item.goods_actual_price}">630.00</em>
  </span>
                    </td>
                    <td class="s-amount" data-point-url="">
                        <span class="amount" th:text="${item.goods_sum}">2</span>
                        <span class="goods_id" th:text="${item.goods_id}" style="display: none"></span>
                    </td>
                    <td class="s-agio">
                        <div class="J_Promotion promotion" data-point-url="">无优惠</div>
                    </td>
                    <td class="s-total">

   <span class='price '>
 <em class="style-normal-bold-red J_ItemTotal " th:text="${item.goods_money}">630.00</em>
  </span>
                    </td>
                </tr>

                <tr class="item-service">
                    <td colspan="5" class="servicearea" style="display: none"></td>
                </tr>

                <tr class="blue-line" style="height: 2px;">
                    <td colspan="5"></td>
                </tr>
                <tr class="other other-line">
                    <td colspan="5">
                        <ul class="dib-wrap">
                            <li class="dib user-info">
                                <ul class="wrap">
                                    <li>
                                        <div class="field gbook">
                                            <label class="label">给卖家留言：</label>
                                            <textarea style="width:350px;height:80px;"
                                                      title="选填：对本次交易的补充说明（建议填写已经和卖家达成一致的说明）" name=""></textarea>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dib extra-info">


                                <div class="shoppointarea"></div>

                                <div class="farearea">
                                    <ul class="dib-wrap J_farearea">
                                        <li class="dib title">运送方式：</li>
                                        <li class="dib sel"
                                            data-point-url="http://log.mmstat.com/jsclick?cache=*&tyxd=wlysfs">
                                            <select name="1704508670:2|post" class="J_Fare">
                                                <option data-fare="1500" value=" 2 " data-codServiceType="2"
                                                        data-level="" selected="selected">
                                                    快递 一个唐老师
                                                </option>
                                                <option data-fare="2500" value=" 7 " data-codServiceType="7"
                                                        data-level="">
                                                    EMS 两个唐老师
                                                </option>
                                                <option data-fare="1500" value=" 1 " data-codServiceType="1"
                                                        data-level="">
                                                    平邮 三个唐老师
                                                </option>
                                            </select>
                                            <em tabindex="0" class="J_FareFree" style="display: none">免邮费</em>
                                        </li>
                                        <li class="dib fee">  <span class='price '>
 <em class="style-normal-bold-red J_FareSum">00.00</em>
  </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="extra-area">
                                    <ul class="dib-wrap">
                                        <li class="dib title">发货时间：</li>
                                        <li class="dib content">卖家承诺订单在买家付款后，72小时内发货</li>
                                    </ul>
                                </div>

                                <div class="servicearea" style="display: none"></div>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr class="shop-total blue-line">
                    <td colspan="5">店铺合计(<span class="J_Exclude" style="display: none">不</span>含运费<span
                            class="J_ServiceText" style="display: none">，服务费</span>)：
                        <span class='price g_price '>
 <span>&yen;</span><em class="style-middle-bold-red J_ShopTotal" th:text="${order.order_money}">630.00</em>
  </span>

                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">

                        <div class="order-go" data-spm="4">
                            <div class="J_AddressConfirm address-confirm">
                                <div class="kd-popup pop-back" style="margin-bottom: 0;padding: 0">
                                    <!--                                        <div class="box">-->
                                    <!--                                            <div class="bd">-->
                                    <!--                                                <div class="point-in">-->

                                    <!--                                                    <em class="t">实付款：</em>  <span class='price g_price '>-->
                                    <!-- <span>&yen;</span><em class="style-large-bold-red"  id="J_ActualFee" th:text="${goods.goods_money}">630.00</em>-->
                                    <!--  </span>-->
                                    <!--                                                </div>-->

                                    <!--                                                <ul >-->
                                    <!--                                                    <li><em>寄送至:</em><span th:text="${addr[5].address}+ ' ' + ${addr[5].address_detail}" id="J_AddrConfirm" style="word-break: break-all;">-->
                                    <!--   湖北省 恩施土家族苗族自治州 恩施市 湖北民族学院（信息工程学院）  男生宿舍楼235栋1234202-->
                                    <!--   </span></li>-->
                                    <!--                                                    <li><em>收货人:</em><span id="J_AddrNameConfirm">某某某 18124317260 </span></li>-->
                                    <!--                                                </ul>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="order-go" data-spm="4" style="margin-bottom: 2%;">
            <div class="J_AddressConfirm address-confirm">
                <div class="point-in">
                    <em class="t">实付款：</em> <span class='price g_price '>
                     <span>&yen;</span><em class="style-large-bold-red" id="J_ActualFee" th:text="${money}">630.00</em>
                      </span>
                </div>
                <div class="kd-popup pop-back" style="margin-bottom: 0;padding: 0">
                    <a href="#"
                       class="back J_MakePoint" target="_top"
                       data-point-url="">返回购物车</a>
                    <a id="J_Go" class=" btn-go" data-point-url="" tabindex="0" title="点击此按钮，提交订单。">提交订单<b
                            class="dpl-button"></b></a>
                </div>
            </div>
        </div>
        <input type="hidden" class="json" name="json">
        </form>
    </div>
</div>
<script>
    $(function () {
        $(".btn-go").on('click', function () {
            var arry1 = new Array();
            var arry2 = new Array();
            $(".amount").each(function (key) {
                arry1[key] = $(this).text();
            });
            $(".goods_id").each(function (key) {
                arry2[key] = $(this).text();
            });
            var json = JSON.stringify({
                json: {
                    "sum": arry1,    // 字符串
                    "id": arry2
                }
            });
            $(".json").val(json);
            $("#addrForm").submit();
        });
    });
</script>
</body>
</html>
